
{{#each Article}}
<section class="articles">
  <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">



          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg">

             

              <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                      <a class="no-underline hover:underline text-black" href="#">
                          {{Article.title}}
                      </a>
                  </h1>
                  {{#if article_saved}}
                  <button class="w-auto h-auto">
                    <div class="flex-1 h-full">
                      <div class="flex items-center justify-center flex-1 h-full p-2 bg-blue-800 text-white shadow rounded-full">
                         <div class="relative">
                          <svg class="w-6 h-6 text-black" fill="#facc15" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" /></svg>
                        </div>
                      </div>
                    </div>
                  </button>
                  {{else}}
                  <button class="w-auto h-auto">
                    <div class="flex-1 h-full">
                      <div class="flex items-center justify-center flex-1 h-full p-2 bg-blue-800 text-white shadow rounded-full">
                         <div class="relative">
                          <svg class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" /></svg>
                        </div>
                      </div>
                    </div>
                  </button>
              {{/if}}
                  
              </header>

              <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                     
                      <p class="ml-2 text-sm">
                          Article Blurb
                      </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                      
                  </a>
              </footer>

          </article>
          <!-- END Article -->

      </div>
        <!-- END Column -->

       

    </section>
    {{/each}}
