
<body>
  

<main class="teams">
    <a href="article.handlebars">
  <div class="container grid grid-cols-4 gap-2 mx-auto">
    <div class="w-full rounded">
        <img class="teamLogo" src="../assets/atl_falcons.png"
            alt="image">
    </div>
    </a>
    
</div>
</main>
</body>
