/* ------ Navigation Bar ------ */
nav button {
    padding: 20px;
}






body {
    display:flex;
    flex-direction: column;
}

.teams {
    padding: 150px;
    background-color: blue;
}

.teams img {
    display: flex;
    border: 10px solid white;
    border-radius: 150px;
    background-color: red;
    
}

.articles {

}

.mainArea {
    border: 30px solid red;

}

