<section class="teams">

{{#each teams as |team|}}
  <div class="container grid grid-cols-4 gap-2 mx-auto">
    <div class="w-full rounded">
        <img class="teamLogo" src="../assets/logo.png"
            alt="{{location}}" onclick="myGreatFunction({{{json this}}})">
    </div>
  </div>
 {{/each}}


</section>


