 <div class="teams">
 <div class="container grid grid-cols-3 gap-2 mx-auto">

{{!-- FOR EACH NFL TEAM IN DATABASE, RENDER THE TEAM LOGO --}}
    {{#each team}}
    <div class="w-full rounded">
        <a href=""><img class="teamLogo" src="../assets/nfl-arizona-cardinals-team-logo-2-300x300.png" alt="image"></a> 
    </div>
    {{/each}}

</div>
</div>