<section class="teams">


  <div class="container grid grid-cols-4 mx-auto justify-evenly">
    {{#each teams as |team|}}
    <div class="w-full rounded">
        <img class="teamLogo" src="/assets/{{logo_path}}"
            alt="{{location}}">
    </div>
  
 {{/each}}

</div>
</section>


