<section class="teams">


  <div class="container grid grid-cols-4 mx-auto justify-evenly">
    {{#each teams as |team|}}
    <div class="w-full rounded">

        <buttton onclick="location.href='/team/{{team_name}}'"type="button"><img class="teamLogo" src="../assets/{{logo_path}}" alt="{{location}}"></button>

            
    </div>
  
 {{/each}}

</div>
</section>


