<section class="teams">

{{#each teams as |team|}}
  <div class="container grid grid-cols-4 gap-2 mx-auto">
    <div class="w-full rounded">
<<<<<<< HEAD
        <img class="teamLogo" src="../assets/logo.png"
            alt="{{{location}}}" onclick="doesThisWork({{{this}}})">
=======
        <img class="teamLogo" src="../assets/{{logo_path}}"
            alt="{{location}}">
>>>>>>> 455c607f50dca1719386ddb97940f1dc6d840e3b
    </div>
  </div>
 {{/each}}


</section>


